@font-face {
    font-family: vazir;
    src: url(./Vazir.woff);
}
@font-face {
    font-family: dimayekan;
    src: url(https://uupload.ir/view/dima_yekan_q0vp.ttf);
}
@font-face {
    font-family: irsans;
    src: url(./irsans.ttf);
}
@font-face {
    font-family: yekanboom;
    src: url(./Yekan\ Boom.ttf);
}
@font-face {
    font-family: yekan;
    src: url(./Yekan.ttf);
}
@font-face {
    font-family: mitra;
    src: url(./Far.Mitra.ttf);
}
@font-face {
    font-family: fanavari;
    src: url(./Fanavari\ Regular.ttf);
}